
// 背景高度是由內容去撐開的
.bg{
  background-image: url('../../assets/images/bg.jpg');
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

.container{
  width: 80%;
  margin: 0 auto;
  padding: 24px 12px;
}

.logo{
  margin-bottom: 24px;
  a{
    display: block;
    background-image: url('../../assets/images/logoSmall.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 178px;
    height: 34px;
    margin: 0 auto;
    @include media-breakpoint-up(md) {
      background-image: url(../../assets/images/logoBig.png);
      width: 439px;
      height: 105px;
    }
  }
}

.content-container{
  padding: 16px 12px;
  margin-bottom: 16px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 0 3px $warning, 0 0 0 8px #fffcef, 0 2px 20px 0 rgba(0,0,0,0.15);
  height: calc(100vh);
  @include media-breakpoint-up(md) {
    height: calc(100vh - 174px);
    padding: 40px;
    margin-bottom: 50px;
    height: 600px;
  }
}

// 按鈕群組
.btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  margin-bottom: 8px;
  @include media-breakpoint-up(md) {
    margin-bottom: 20px;
  }
  .active {
    background-color: $warning;
  }
  a{
    display: block;
    color: $body;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 28%;

    border: 2px solid $body;
    box-shadow: 0 1px 0 0 $body;
    border-radius: 4px;
    @include media-breakpoint-up(md) {
      width: 12.6%;
    }
    &:hover{
      background-color: $warning;
    }
  }
}

// 輸入群組
.input-group{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: NotoSansCJKtc-Bold;
  font-weight: 600;
  margin-bottom: 16px;
  @include media-breakpoint-up(md) {
    flex-wrap: nowrap;
    margin-bottom: 32px;
  }
}

.input-content{
  display: flex;
  flex-wrap: nowrap;
  background-color: $primary;
  border: 2px solid $primary;
  width: 100%;
  margin-bottom: 8px;
  margin-right: 0px;
  border-radius: 4px;
  @include media-breakpoint-up(md) {
    width: none;
    margin-bottom: 0px;
  }
}

label{
  background-color: $primary;
  color: #fff;
  border: 0px solid $primary;
  padding: 8px;
  text-align: center;
  white-space: nowrap;
  width: 28%;
  @include media-breakpoint-up(md) {
    white-space: normal;
    width: none;
    display: inline-block;
  }
}

input{
  border: 0px solid transparent;
  padding-left: 8px;
  width: 72%;
  @include media-breakpoint-up(md) {
    width: none;
  }
  &:focus, :active{
    outline: none;
  }
}

// 搜尋
.input-btn{
  background: $primary;
  border: 2px solid $primary;
  border-radius: 4px;
  color: #fff;
  padding: 8px;
  width: 100%;
  display: block;
  text-align: center;
  transition: all .15s ease-out;
  @include media-breakpoint-up(md) {
    width: 15%;
    border: none solid transparent;
    
  }
}

// 查詢結果群組
//-------------------------------------------------------------------
// 
.btn-active {
  background: $warning;
  border: 2px solid $warning;
  pointer-events: auto;
  transition: all .15s ease-in;
}
// ------------------------------------------------------------------

.result-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  p{
    font-family: NotoSansCJKtc-Bold;
    font-size: 18px;
    color: $primary;
    letter-spacing: 1.12px;
    font-weight: 600;
    padding-left: 8px;
    @include media-breakpoint-up(md) {
      padding-left: 0px;
    }
  }
  select{
    display: none;
    @include media-breakpoint-up(md) {
      display: block;
    }
  }
}

// 篩選排序(375版型時下面那一顆)
.select-group{
  border: 1px solid #9a9a9a;
  border-radius: 20px;
  padding: 8px;
}

// 表格排序
.table-group{
  width: 100%;
  font-family: NotoSansCJKtc-Bold;
  font-size: 12px;
  letter-spacing: 0.75px;

  thead {
    text-align: center;
  }

  td,th{
    padding: 12px 0px;
  }

  th{
    width: 14%;
  }

  tbody {
    text-align: center;
    color: $body;

  tr{
    border-bottom: 2px solid #d9d9d9;
    &:hover{
      background-color: #f4f1ea;
    }
    & > td:first-child{
      text-align-last: left;
    }
  }

  @include media-breakpoint-up(md) {
    font-size: 16px;
    letter-spacing: 1.5px;
    }
  }
}

.table-title{
  position: sticky;
  top: 0;

  background: #f4f1ea;
  border-top: 2px solid $body;
  border-bottom: 2px solid $body;
  font-family: NotoSansCJKtc-Bold;
  font-size: 12px;
  letter-spacing: 0.75px;
  color: $body;
  @include media-breakpoint-up(md) {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.5px;
  }
}

.table-wating{
  td{
    color: $body;
    padding: 20px 0px;
    border-bottom: 2px solid #d9d9d9;
  }
}

.d-none{
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
}

.d-mobile-none{
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
}

.select-pad{
  display: block;
  display: flex;
  justify-content: flex-end;
  position: relative;

  @include media-breakpoint-up(md) {
    display: none;
    
    select{
      background: #fff;
      box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
      border-radius: 20px;
      width: 24%;
      text-align: center;
      padding-left: 0;
      padding-right: 0;
    }
  } 
}

.overflow-auto{
  overflow: auto;  //自動使用捲軸
  height: 60%;

  @include media-breakpoint-up(md) {
    height: 62%;
  }
}

.mr-1{
  margin-right: 10px;
}

.caret-group{
  display: inline-flex;
  position: relative;
}

.fa-caret-up, .fa-caret-down {
  position: absolute;
  &:hover{
    cursor: pointer;
  }
}

.fa-caret-up{
  top: -14px;
  right: -4px;
  @include media-breakpoint-up(md) {
    top: -22px;
  right: -8px;
  }
}

.fa-caret-down{
  top: -6px;
  right: -4px;
  @include media-breakpoint-up(md) {
    top: -9px;
  right: -8px;
  }
}